
/****** Object:  Table [dbo].[APIREQUESTDATALOG]    Script Date: 2/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APIREQUESTDATALOG](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
	[DATABASETABLE_ID] [int] NOT NULL,
	[REQUEST_ID] [int] NULL,
	[REQUEST_TYPE] [varchar](50) NULL,
	[REQUEST_PATH] [varchar](255) NULL,
	[REQUEST_INPUT] [varchar](max) NULL,
	[REQUEST_OUTPUT] [varchar](max) NULL,
	[REQUEST_STATUS] [varchar](50) NULL,
	[LOG_BY] [int] NULL,
	[LOG_WORKSTATION] [varchar](50) NULL,
 CONSTRAINT [PK_APIREQUESTDATALOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATABASETABLES]    Script Date: 2/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATABASETABLES](
	[DATABASETABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATABASETABLE_NAME] [varchar](50) NOT NULL,
	[DATABASETABLE_DESC] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DATABASETABLES] PRIMARY KEY CLUSTERED 
(
	[DATABASETABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLEDATALOG]    Script Date: 2/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLEDATALOG](
	[TABLELOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLELOG_DATE] [datetime] NOT NULL,
	[TABLE_ID] [int] NOT NULL,
	[DATABASETABLE_ID] [int] NULL,
	[TABLE_DESC] [varchar](50) NULL,
	[TABLE_DATA] [varchar](max) NOT NULL,
	[TABLELOG_BY] [int] NOT NULL,
	[ISDELETED] [char](1) NULL,
 CONSTRAINT [PK_TABLEDATALOG] PRIMARY KEY CLUSTERED 
(
	[TABLELOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLLOGINUSER]    Script Date: 2/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLLOGINUSER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[LAST_LOGIN] [datetime] NULL,
	[USER_STATUS] [int] NULL,
	[ISCHANGEPASSWORD_REQUESTED] [char](1) NULL,
	[ISCHANGEPASSWORD_REQUESTEDWHEN] [datetime] NULL,
	[ISACTIVE] [char](1) NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_WHEN] [datetime] NULL,
	[MODIFIED_WORKSTATION] [varchar](50) NULL,
 CONSTRAINT [PK_TBLLOGIN_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLSYSTEMSETTINGLOOKUP]    Script Date: 2/11/2019 9:19:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLSYSTEMSETTINGLOOKUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ENTITYNAME] [varchar](100) NULL,
	[CODE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[ENTITY_STATUS] [varchar](50) NULL,
	[ISACTIVE] [char](1) NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_WHEN] [datetime] NULL,
	[MODIFIED_WORKSTATION] [varchar](50) NULL,
 CONSTRAINT [PK_VLE_LOOKUP_DATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DATABASETABLES] ON 

INSERT [dbo].[DATABASETABLES] ([DATABASETABLE_ID], [DATABASETABLE_NAME], [DATABASETABLE_DESC]) VALUES (1, N'TBLLOGINUSER', N'TBLLOGINUSER')
INSERT [dbo].[DATABASETABLES] ([DATABASETABLE_ID], [DATABASETABLE_NAME], [DATABASETABLE_DESC]) VALUES (2, N'TBLSYSTEMSETTINGLOOKUP', N'TBLSYSTEMSETTINGLOOKUP')
SET IDENTITY_INSERT [dbo].[DATABASETABLES] OFF
SET IDENTITY_INSERT [dbo].[TBLLOGINUSER] ON 

INSERT [dbo].[TBLLOGINUSER] ([USER_ID], [USER_NAME], [PASSWORD], [LAST_LOGIN], [USER_STATUS], [ISCHANGEPASSWORD_REQUESTED], [ISCHANGEPASSWORD_REQUESTEDWHEN], [ISACTIVE], [MODIFIED_BY], [MODIFIED_WHEN], [MODIFIED_WORKSTATION]) VALUES (0, N'nouser', N'nouser', NULL, NULL, NULL, NULL, N'Y', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBLLOGINUSER] OFF
